* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fafafa;
}

.MailIcon {
  cursor: pointer;
}

.BallIcon {
  cursor: pointer;
}

.Data {
  display: flex;
  align-items: center;
  position: relative;
  bottom: 1.6pc;
  left: 75pc;
  border: none;
}
.res {
    outline: none;
    cursor: pointer;
}